<div class="add-subcribe h-[380px] bg-slate-800 flex flex-col justify-center items-center mb-24">
    <div class="flex justify-center items-center mb-5 ">
        <div class="w-8 h-px bg-gray-300 "></div>
        <div class="mx-2 tracking-widest font-bold text-xs text-gray-400 text-center ">SIGN UP AND GET FREE COFFEE BAGS
        </div>
        <div class="w-8 h-px bg-gray-300"></div>
    </div>
    <div class="text-4xl text-white mb-8">Coffee Updates</div>
    <div class="add-form ">
        <div class="flex md:flex-row flex-col justify-center items-center gap-4">
            <div class="add-form-item tracking-widest font-bold text-xs text-gray-400 text-center">
                <input type="email" name="" id="" placeholder="ADD@COFFEESYLE"
                    class=" h-[54px] px-6 py-4 w-[350px] max-w-[85%] xs:max-w-full bg-inherit border-[1px] border-slate-200 outline-none">
            </div>
            <div class="add-form-item tracking-widest font-medium hover:opacity-90 text-center">
                <button class="subcribe uppercase bg-white w-full px-2 h-[54px]">Subcribe</button>
            </div>
        </div>
    </div>
</div>
<div class="Footer-By-ADD w-[95%] lg:w-[65%] mx-auto pb-16 text-gray-500 text-sm " >
    <div class="flex flex-col lg:flex-row text-center lg:text-left gap-8">
        <div class="basis-2/6 flex flex-col justify-center  gap-4">
            <div class="font-bold text-xl mb-4 text-gray-800">Coffee Style</div>
            <div class="mb-8">Delivering the best coffee life since 1996. From coffee geeks to the real ones.</div>
            <div class="hover:text-light-coffee text-gray-300">AnDinhDai. © 2020</div>
        </div>
        <div class="basis-1/6">
            <div class="uppercase tracking-widest text-gray-600 font-medium text-[18px] mb-4">Menu</div>
            <div class="flex flex-col gap-3 ">
                <div class=""><a href="#" class="hover:text-light-coffee">Home</a></div>
                <div class=""><a href="#" class="hover:text-light-coffee">Our Product</a></div>
                <div class=""><a href="#" class="hover:text-light-coffee">About</a></div>
                <div class=""><a href="#" class="hover:text-light-coffee">Contact</a></div>
                <div class=""><a href="#" class="hover:text-light-coffee">StyleGuide</a></div>
            </div>
        </div>
        <div class="basis-1/6">
            <div class="uppercase tracking-widest text-gray-600 font-medium text-[18px] mb-4">Follow Us</div>
            <div class="flex flex-col gap-3">
                <div class=""><a href="#" class="hover:text-light-coffee">Facebook</a></div>
                <div class=""><a href="#" class="hover:text-light-coffee">Instagram</a></div>
                <div class=""><a href="#" class="hover:text-light-coffee">Pinterest</a></div>
                <div class=""><a href="#" class="hover:text-light-coffee">Twitter</a></div>
            </div>
        </div>
        <div class="basis-2/6">
            <div class="uppercase tracking-widest text-gray-600 font-medium text-[18px] mb-4">Contact Us</div>
            <div class="flex flex-col gap-3">
                <div class="">We&apos;re Always Happy to Help</div>
                <div class="mb-14"><a href="#" class="font-bold text-xl text-gray-800">us@coffeestyle.io</a></div>
                <div class=""><a href="#" class="hover:text-light-coffee text-gray-300">Powered by Webflow</a></div>
            </div>
        </div>
    </div>

</div>