<div class="add-subcribe h-[380px] bg-slate-800 flex flex-col justify-center items-center">
    <div class="flex justify-center items-center mb-5 ">
        <div class="w-8 h-px bg-gray-300 "></div>
        <div class="mx-2 tracking-widest font-bold text-xs text-gray-400 text-center ">SIGN UP AND GET FREE COFFEE BAGS
        </div>
        <div class="w-8 h-px bg-gray-300"></div>
    </div>
    <div class="text-4xl text-white mb-8">Coffee Updates</div>
    <div class="add-form ">
        <div class="flex md:flex-row flex-col justify-center items-center gap-4">
            <div class="add-form-item tracking-widest font-bold text-xs text-gray-400 text-center">
                <input type="email" name="" id="" placeholder="ADD@COFFEESYLE"
                    class=" h-[54px] px-6 py-4 w-[350px] max-w-[85%] xs:max-w-full bg-inherit border-[1px] border-slate-200 outline-none">
            </div>
            <div class="add-form-item tracking-widest font-medium hover:opacity-90 text-center">
                <button class="subcribe uppercase bg-white w-full px-2 h-[54px]">Subcribe</button>
            </div>
        </div>
    </div>
</div>
<div class="By-ADD h-[500px] bg-slate-300">

</div>