<main>
    <div class="slider h-[540px] bg-slider-image bg-cover bg-no-repeat bg-bottom mx-5 ">
        <div class="w-full h-full flex justify-center items-center bg-gray-900 bg-opacity-30 mx">
            <div class="mx-16 text-white text-center">
                <div class="uppercase mb-6">Best place to buy coffee</div>
                <div class="uppercase font-medium text-3xl mb-6">coffee mugs</div>
                <div class="mb-8">The most versatile furniture system ever created. Designed to fit your life, made to move
                    and grow.</div>
                <div class="flex justify-center">
                    <div class="uppercase bg-white text-gray-900 w-max tracking-wider py-4 px-6 text-sm font-medium 
                    cursor-pointer hover:bg-opacity-90 ">
                        explore our products
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="story">
        <div class="w-full h-full flex justify-center items-center">
            <div class="px-10 md:px-32 lg:px-64 xl:px-96  py-32 text-center ">
                <div class="text-2xl leading-10 mb-6 font-normal   ">Even the all-powerful Pointing has no control about the blind texts.</div>
                <div class="text-sm mb-6 text-gray-500 leading-7 font-light">It is a paradisematic country, in which roasted parts of sentences fly into your mouth.<br>
                     Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</div>
                <div class="">
                    <a href="#" class="underline underline-offset-8 text-orange-400 hover:text-orange-600">Read the full Story</a>
                </div>
            </div>
        </div>
    </div>
    <div class="add-subheadline ">
        <div class="add-subheadline-decoline "></div>
        <div class="add-subheadline-label "> Feature Mugs</div>
        <div class="add-subheadline-decoline "></div>
    </div>
    <div class="">Feature Mugs</div>
    <div class="add-subheadline ">
        <div class="add-subheadline-decoline "></div>
        <div class="add-subheadline-label "> MORE PRODUCTS</div>
        <div class="add-subheadline-decoline "></div>
    </div>
    <div class="">Feature Mugs</div>
    <div class="add-subheadline ">
        <div class="add-subheadline-decoline "></div>
        <div class="add-subheadline-label "> BUY 2 MUGS AND GET A COFFEE MAGAZINE FREE</div>
        <div class="add-subheadline-decoline "></div>
    </div>
    <div class="">Feature Mugs</div>
    <div class="add-subheadline ">
        <div class="add-subheadline-decoline "></div>
        <div class="add-subheadline-label "> BEHIND THE MUGS, LIFESTYLE STORIES</div>
        <div class="add-subheadline-decoline "></div>
    </div>
    <div class=""></div>
    <div class=""></div>
</main>