<main>
    <div class="slider h-[540px] bg-slider-image bg-cover bg-no-repeat bg-bottom mx-5 ">
        <div class="w-full h-full flex justify-center items-center bg-gray-900 bg-opacity-30 mx">
            <div class="mx-16 text-white text-center">
                <div class="uppercase mb-6">Best place to buy coffee</div>
                <div class="uppercase font-medium text-3xl mb-6">coffee mugs</div>
                <div class="mb-8">The most versatile furniture system ever created. Designed to fit your life, made to move
                    and grow.</div>
                <div class="flex justify-center">
                    <div class="uppercase bg-white text-gray-900 w-max tracking-wider py-4 px-6 text-sm font-medium 
                    cursor-pointer hover:bg-opacity-90 ">
                        explore our products
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="story"></div>
</main>