<main>
    <div class="slider h-[540px] bg-slider-image bg-cover bg-no-repeat bg-bottom mx-5 ">
        <div class="w-full h-full flex justify-center items-center bg-gray-900 bg-opacity-30 mx">
            <div class="mx-16 text-white text-center">
                <div class="uppercase mb-6">Best place to buy coffee</div>
                <div class="uppercase font-medium text-3xl mb-6">coffee mugs</div>
                <div class="mb-8">The most versatile furniture system ever created. Designed to fit your life, made to
                    move
                    and grow.</div>
                <div class="flex justify-center">
                    <div class=" bg-white text-gray-900 w-max add-button ">
                        explore our products
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="story flex justify-center items-center">
        <div class="px-10 md:px-32 lg:px-64 xl:px-96  py-32 text-center ">
            <div class="text-2xl leading-10 mb-6 font-normal   ">Even the all-powerful Pointing has no control about the
                blind texts.</div>
            <div class="text-sm mb-6 text-gray-500 leading-7 font-light">It is a paradisematic country, in which roasted
                parts of sentences fly into your mouth.<br>
                Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life
                One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World
                of Grammar.</div>
            <div class="">
                <a href="#" class="underline underline-offset-8 text-orange-400 hover:text-orange-600">Read the full
                    Story</a>
            </div>
        </div>
    </div>
    <div class="add-subheadline ">
        <div class="add-subheadline-decoline "></div>
        <div class="add-subheadline-label "> Feature Mugs</div>
        <div class="add-subheadline-decoline "></div>
    </div>
    <div class="featured-mug w-[95%] lg:w-[65%] mx-auto mb-24">
        <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-6 gap-8 ">
            <div class="add-product-card">
                <div class=" h-[400px] sm:h-[540px] bg-product-01 bg-cover bg-no-repeat bg-center">
                    <a href="#" alt="andinhdai">
                        <div class="w-full h-full hover:bg-gray-900 hover:bg-opacity-10 hover:transition-all hover:ease-in-out hover:duration-500 
                            relative group">
                            <div
                                class="absolute add-button bg-white text-gray-900 bottom-2 w-[90%] left-1/2 -translate-x-1/2  hidden group-hover:block group-hover:animate-fadeIn  ">
                                Explore Mug</div>
                        </div>
                    </a>
                </div>
                <div class="mt-5 text-center leading-8">
                    <a href="#" class="product-add text-xl hover:text-amber-500">
                        Pink Premium Ceramic
                    </a>
                    <div class="">
                        <span>$ 99.000 USD</span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="add-product-card">
                <div class=" h-[400px] sm:h-[540px] bg-product-02 bg-cover bg-no-repeat bg-center">
                    <a href="#" alt="andinhdai">
                        <div class="w-full h-full hover:bg-gray-900 hover:bg-opacity-10 hover:transition-all hover:ease-in-out hover:duration-500 
                            relative group">
                            <div
                                class="absolute w-[100px] bg-white py-2 px-4 top-3 right-3 text-center font-semibold text-amber-800">
                                On Sale.</div>
                            <div
                                class="absolute add-button bg-white text-gray-900 bottom-2 w-[90%] left-1/2 -translate-x-1/2  hidden group-hover:block group-hover:animate-fadeIn ">
                                Explore Mug</div>
                        </div>
                    </a>
                </div>
                <div class="mt-5 text-center leading-8">
                    <a href="#" class="product-add text-xl hover:text-amber-500">
                        Golden Designers Mug
                    </a>
                    <div class="">
                        <span class="text-amber-700 text-2xl">$50.000</span>
                        <span class="ml-2 line-through text-gray-400">$ 69.000 USD</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="add-subheadline ">
        <div class="add-subheadline-decoline "></div>
        <div class="add-subheadline-label "> MORE PRODUCTS</div>
        <div class="add-subheadline-decoline "></div>
    </div>
    <div class="featured-mug w-[90%] xl:w-[65%] mx-auto mb-24">
        <div class="grid lg:grid-cols-3 grid-cols-1 lg:gap-6 gap-8">
            <div class="add-product-card">
                <div
                    class=" h-[300px] sm:h-[380px] bg-[url('/assets/images/product3.jpg')] bg-cover bg-no-repeat bg-center">
                    <a href="#" alt="andinhdai">
                        <div class="w-full h-full hover:bg-gray-900 hover:bg-opacity-10 hover:transition-all hover:ease-in-out hover:duration-500 
                            relative group">
                            <div class="absolute w-[100px] bg-white py-2 px-4 top-3 right-3 text-center font-semibold text-amber-800">
                                On Sale.</div>
                            <div class="absolute add-button bg-white text-gray-900 bottom-2 w-[90%] left-1/2 -translate-x-1/2  hidden group-hover:block group-hover:animate-fadeIn  ">
                                Explore Mug</div>
                        </div>
                    </a>
                </div>
                <div class="mt-5 text-center leading-8">
                    <a href="#" class="product-add text-xl hover:text-amber-500">
                        Red Love Cup
                    </a>
                    <div class="">
                        <span class="text-amber-700 text-2xl">$25.000</span>
                        <span class="ml-2 line-through text-gray-400">$ 37.000 USD</span>
                    </div>
                </div>
            </div>
            <div class="add-product-card">
                <div
                    class=" h-[300px] sm:h-[380px] bg-[url('/assets/images/product4.jpg')] bg-cover bg-no-repeat bg-center">
                    <a href="#" alt="andinhdai">
                        <div class="w-full h-full hover:bg-gray-900 hover:bg-opacity-10 hover:transition-all hover:ease-in-out hover:duration-500 
                            relative group">
                            <div
                                class="absolute w-[100px] bg-white py-2 px-4 top-3 right-3 text-center font-semibold text-amber-800">
                                On Sale.</div>
                            <div
                                class="absolute add-button bg-white text-gray-900 bottom-2 w-[90%] left-1/2 -translate-x-1/2  hidden group-hover:block group-hover:animate-fadeIn  ">
                                Explore Mug</div>
                        </div>
                    </a>
                </div>
                <div class="mt-5 text-center leading-8">
                    <a href="#" class="product-add text-xl hover:text-amber-500">
                        Black Tea Cup
                    </a>
                    <div class="">
                        <span class="text-amber-700 text-2xl">$15.000</span>
                        <span class="ml-2 line-through text-gray-400">$ 29.000 USD</span>
                    </div>
                </div>
            </div>
            <div class="add-product-card">
                <div
                    class=" h-[300px] sm:h-[380px] bg-[url('/assets/images/product5.jpg')] bg-cover bg-no-repeat bg-center">
                    <a href="#" alt="andinhdai">
                        <div class="w-full h-full hover:bg-gray-900 hover:bg-opacity-10 hover:transition-all hover:ease-in-out hover:duration-500 
                            relative group">
                            <div
                                class="absolute add-button bg-white text-gray-900 bottom-2 w-[90%] left-1/2 -translate-x-1/2  hidden group-hover:block group-hover:animate-fadeIn  ">
                                Explore Mug</div>
                        </div>
                    </a>
                </div>
                <div class="mt-5 text-center leading-8">
                    <a href="#" class="product-add text-xl hover:text-amber-500">
                        B&W Essentials Mug
                    </a>
                    <div class="">
                        <span class=" text-gray-400">$ 19.000 USD</span>
                    </div>
                </div>
            </div>
            <div class="add-product-card">
                <div
                    class=" h-[300px] sm:h-[380px] bg-[url('/assets/images/product6.jpg')] bg-cover bg-no-repeat bg-center">
                    <a href="#" alt="andinhdai">
                        <div class="w-full h-full hover:bg-gray-900 hover:bg-opacity-10 hover:transition-all hover:ease-in-out hover:duration-500 
                            relative group">
                            <div
                                class="absolute add-button bg-white text-gray-900 bottom-2 w-[90%] left-1/2 -translate-x-1/2  hidden group-hover:block group-hover:animate-fadeIn  ">
                                Explore Mug</div>
                        </div>
                    </a>
                </div>
                <div class="mt-5 text-center leading-8">
                    <a href="#" class="product-add text-xl hover:text-amber-500">
                        Winter Style Mug
                    </a>
                    <div class="">
                        <span class=" text-gray-400">$ 25.000 USD</span>
                    </div>
                </div>
            </div>
            <div class="add-product-card">
                <div
                    class=" h-[300px] sm:h-[380px] bg-[url('/assets/images/product7.jpg')] bg-cover bg-no-repeat bg-center">
                    <a href="#" alt="andinhdai">
                        <div class="w-full h-full hover:bg-gray-900 hover:bg-opacity-10 hover:transition-all hover:ease-in-out hover:duration-500 
                            relative group">
                            <div
                                class="absolute add-button bg-white text-gray-900 bottom-2 w-[90%] left-1/2 -translate-x-1/2  hidden group-hover:block group-hover:animate-fadeIn  ">
                                Explore Mug</div>
                        </div>
                    </a>
                </div>
                <div class="mt-5 text-center leading-8">
                    <a href="#" class="product-add text-xl hover:text-amber-500">
                        Ceramic Tea
                    </a>
                    <div class="">
                        <span class="text-gray-400">$ 46.000 USD</span>
                    </div>
                </div>
            </div>
            <div class="add-product-card">
                <div
                    class=" h-[300px] sm:h-[380px] bg-[url('/assets/images/product8.jpg')] bg-cover bg-no-repeat bg-center">
                    <a href="#" alt="andinhdai">
                        <div class="w-full h-full hover:bg-gray-900 hover:bg-opacity-10 hover:transition-all hover:ease-in-out hover:duration-500 
                            relative group">
                            <div
                                class="absolute add-button bg-white text-gray-900 bottom-2 w-[90%] left-1/2 -translate-x-1/2  hidden group-hover:block group-hover:animate-fadeIn  ">
                                Explore Mug</div>
                        </div>
                    </a>
                </div>
                <div class="mt-5 text-center leading-8">
                    <a href="#" class="product-add text-xl hover:text-amber-500">
                        No Handle Bar Cup
                    </a>
                    <div class="">
                        <span class=" text-gray-400">$ 34.000 USD</span>
                    </div>
                </div>
            </div>
            <div class="add-product-card">
                <div
                    class=" h-[300px] sm:h-[380px] bg-[url('/assets/images/product9.jpg')] bg-cover bg-no-repeat bg-center">
                    <a href="#" alt="andinhdai">
                        <div class="w-full h-full hover:bg-gray-900 hover:bg-opacity-10 hover:transition-all hover:ease-in-out hover:duration-500 
                            relative group">
                            <div
                                class="absolute add-button bg-white text-gray-900 bottom-2 w-[90%] left-1/2 -translate-x-1/2  hidden group-hover:block group-hover:animate-fadeIn  ">
                                Explore Mug</div>
                        </div>
                    </a>
                </div>
                <div class="mt-5 text-center leading-8">
                    <a href="#" class="product-add text-xl hover:text-amber-500">
                        Espresso Cup by Mugs.co
                    </a>
                    <div class="">
                        <span class=" text-gray-400">$ 34.000 USD</span>
                    </div>
                </div>
            </div>
            <div class="add-product-card">
                <div
                    class=" h-[300px] sm:h-[380px] bg-[url('/assets/images/product10.jpg')] bg-cover bg-no-repeat bg-center">
                    <a href="#" alt="andinhdai">
                        <div class="w-full h-full hover:bg-gray-900 hover:bg-opacity-10 hover:transition-all hover:ease-in-out hover:duration-500 
                            relative group">
                            <div
                                class="absolute add-button bg-white text-gray-900 bottom-2 w-[90%] left-1/2 -translate-x-1/2  hidden group-hover:block group-hover:animate-fadeIn  ">
                                Explore Mug</div>
                        </div>
                    </a>
                </div>
                <div class="mt-5 text-center leading-8">
                    <a href="#" class="product-add text-xl hover:text-amber-500">
                        Pink Premium Ceramic
                    </a>
                    <div class="">
                        <span class=" text-gray-400">$ 99.000 USD</span>
                    </div>
                </div>
            </div>
            <div class="add-product-card">
                <div
                    class=" h-[300px] sm:h-[380px] bg-[url('/assets/images/product11.jpg')] bg-cover bg-no-repeat bg-center">
                    <a href="#" alt="andinhdai">
                        <div class="w-full h-full hover:bg-gray-900 hover:bg-opacity-10 hover:transition-all hover:ease-in-out hover:duration-500 
                            relative group">
                            <div
                                class="absolute add-button bg-white text-gray-900 bottom-2 w-[90%] left-1/2 -translate-x-1/2  hidden group-hover:block group-hover:animate-fadeIn  ">
                                Explore Mug</div>
                        </div>
                    </a>
                </div>
                <div class="mt-5 text-center leading-8">
                    <a href="#" class="product-add text-xl hover:text-amber-500">
                        Summer Designer Cup
                    </a>
                    <div class="">
                        <span class=" text-gray-400">$ 29.000 USD</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="add-subheadline ">
        <div class="add-subheadline-decoline "></div>
        <div class="add-subheadline-label "> BUY 2 MUGS AND GET A COFFEE MAGAZINE FREE</div>
        <div class="add-subheadline-decoline "></div>
    </div>
    <div class="coffe-magazine w-[95%] xl:w-[65%] mx-auto mb-24">
        <div class="flex flex-col lg:flex-row justify-center items-center gap-5">
            <div class="basis-1/2 md:flex md:flex-row md:gap-5 w-full h-full mb-4">
                <div class="add-big-image h-[280px] basis-2/3  bg-[url('/assets/images/magazine01.jpg')] bg-cover bg-no-repeat bg-center mb-3 xs:mb-5 md:mb-0 "></div>
                <div class="add-small-images basis-1/3 flex flex-row md:flex-col gap-3 xs:gap-5">
                    <div class="h-[130px] xs:h-[200px] basis-1/2 bg-[url('/assets/images/magazine02.jpg')] bg-cover bg-no-repeat bg-center">
                    </div>
                    <div class="h-[130px] xs:h-[200px] basis-1/2 bg-[url('/assets/images/magazine03.jpg')] bg-cover bg-no-repeat bg-center">
                    </div>
                </div>
            </div>
            <div class="basis-1/2 pl-10 mb-4 lg:text-left text-center">
                <div class="uppercase tracking-widest font-medium text-xs text-gray-400 mb-8 ">PREMIUM OFFER</div>
                <div class="text-4xl mb-8">Get our Coffee Magazine</div>
                <div class="mb-6">The most versatile furniture system ever created. Designed to fit your life.</div>
                 <div class="add-button bg-black text-white bottom-2 w-max hover:opacity-95 mx-auto lg:mx-0">
                    start shopping</div>
            </div>
        </div>
    </div>
    <div class="parallax-section bg-[url('/assets/images/parallax.jpg')] bg-cover bg-no-repeat bg-center h-[380px] mb-24 bg-fixed 
                w-[100vw] relative left-[calc(-50vw+50%)]">

    </div>
    <div class="add-subheadline ">
        <div class="add-subheadline-decoline "></div>
        <div class="add-subheadline-label "> BEHIND THE MUGS, LIFESTYLE STORIES</div>
        <div class="add-subheadline-decoline "></div>
    </div>
    <div class=""></div>
    <div class=""></div>
</main>