<div class=" slider h-[540px] bg-[#f6f6f6] z-0 ">
    <div class="w-[70%] h-full flex justify-center items-center mx-auto leading-7">
        <div class="mx-16 text-slate-800 text-center">
            <div class="uppercase font-medium text-3xl mb-6">Read coffee stories on our Blog</div>
            <div class="mb-24">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                elementum tristique.</div>
            <div class="add-subheadline ">
                <div class="add-subheadline-decoline "></div>
                <div class="add-subheadline-label ">FEATURED POSTS</div>
                <div class="add-subheadline-decoline "></div>
            </div>
        </div>
    </div>
</div>
<div class="relative z-10 -top-[110px] w-[95%] lg:w-[65%] mx-auto mb-24">
    <div class="grid lg:grid-cols-2  grid-cols-1 lg:gap-4 gap-8 mb-6">
        <div class="add-life-story">
            <div class=" h-[300px] bg-[url('/assets/images/lifestyle3.jpg')] bg-cover bg-no-repeat bg-center">
                <a href="#" alt="andinhdai">
                    <div class="w-full h-full hover:bg-gray-900 hover:bg-opacity-10 hover:transition-all hover:ease-in-out hover:duration-500 
                            relative group">
                        <div
                            class="absolute add-button bg-white text-gray-900 bottom-2 w-[90%] left-1/2 -translate-x-1/2  hidden group-hover:block group-hover:animate-fadeIn  ">
                            READ THE FULL STORY</div>
                    </div>
                </a>
            </div>
            <div class="mt-5 text-left leading-8">
                <a href="#" class="product-add text-xl hover:text-amber-600 mb-6">
                    Recent research suggests that heavy coffee drinkers may reap health benefits.
                </a>
                <div class="text-slate-500 mb-6">
                    It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                </div>
                <div class=" uppercase tracking-widest font-medium text-sm text-gray-400">OCTOBER 9, 2018</div>
            </div>
        </div>
        <div class="add-life-story">
            <div class=" h-[300px]   bg-[url('/assets/images/lifestyle2.jpg')] bg-cover bg-no-repeat bg-center">
                <a href="#" alt="andinhdai">
                    <div class="w-full h-full hover:bg-gray-900 hover:bg-opacity-10 hover:transition-all hover:ease-in-out hover:duration-500 
                            relative group">
                        <div
                            class="absolute add-button bg-white text-gray-900 bottom-2 w-[90%] left-1/2 -translate-x-1/2  hidden group-hover:block group-hover:animate-fadeIn  ">
                            READ THE FULL STORY</div>
                    </div>
                </a>
            </div>
            <div class="mt-5 text-left leading-8">
                <a href="#" class="product-add text-xl hover:text-amber-600 mb-6">
                    How long does a cup of coffee keep you awake?
                </a>
                <div class="text-slate-500 mb-6">
                    It is a paradisematic country, in which roasted parts. Vel qui et ad voluptatem.
                </div>
                <div class=" uppercase tracking-widest font-medium text-sm text-gray-400">OCTOBER 9, 2018</div>
            </div>
        </div>
    </div>
</div>
<div class="w-[95%] lg:w-[65%] mx-auto mb-24">
    <div class="flex flex-col lg:flex-row text-center lg:text-left gap-8">
        <div class="mb-8 basis-4/7 ">
            <div class="mb-10 text-2xl text-left">Lastest-Posts</div>
            <hr class="mb-10">
            <div class="flex flex-col gap-8">
                <div class="add-story-blog">
                    <div
                        class="basis-3/7 w-full md:h-[230px] h-[300px] bg-[url('/assets/images/lifestyle3.jpg')] bg-cover bg-no-repeat bg-center">
                        <a href="#" alt="andinhdai">
                            <div class="w-full h-full hover:bg-gray-900 hover:bg-opacity-10 hover:transition-all hover:ease-in-out hover:duration-500 
                                    relative group">
                                <div
                                    class="absolute add-button bg-white text-gray-900 bottom-2 w-[90%] left-1/2 -translate-x-1/2  hidden group-hover:block group-hover:animate-fadeIn  ">
                                    READ THE FULL STORY</div>
                            </div>
                        </a>
                    </div>
                    <div class=" basis-4/7 w-full mt-5 text-left leading-8">
                        <a href="#" class="product-add text-xl hover:text-amber-600 mb-6">
                            Recent research suggests that heavy coffee drinkers may reap health benefits.
                        </a>
                        <div class="text-slate-500 mb-6">
                            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                        </div>
                        <div class=" uppercase tracking-widest font-medium text-sm text-gray-400">OCTOBER 9, 2018</div>
                    </div>
                </div>
                <div class="add-story-blog">
                    <div
                        class="basis-3/7 w-full md:h-[230px] h-[300px] bg-[url('/assets/images/story-blog2.jpg')] bg-cover bg-no-repeat bg-center">
                        <a href="#" alt="andinhdai">
                            <div class="w-full h-full hover:bg-gray-900 hover:bg-opacity-10 hover:transition-all hover:ease-in-out hover:duration-500 
                                    relative group">
                                <div
                                    class="absolute add-button bg-white text-gray-900 bottom-2 w-[90%] left-1/2 -translate-x-1/2  hidden group-hover:block group-hover:animate-fadeIn  ">
                                    READ THE FULL STORY</div>
                            </div>
                        </a>
                    </div>
                    <div class="basis-4/7 w-full mt-5 text-left leading-8">
                        <a href="#" class="product-add text-xl hover:text-amber-600 mb-6">
                            More coffee, lower death risk?
                        </a>
                        <div class="text-slate-500 mb-6">
                            Eveniet itaque aperiam qui officia in ducimus. Voluptas culpa ut eligendi in. Minima est
                            dolores dolore aut et et alias p
                        </div>
                        <div class=" uppercase tracking-widest font-medium text-sm text-gray-400">OCTOBER 9, 2018</div>
                    </div>
                </div>
                <div class="add-story-blog">
                    <div
                        class="basis-3/7 w-full md:h-[230px] h-[300px] bg-[url('/assets/images/lifestyle2.jpg')] bg-cover bg-no-repeat bg-center">
                        <a href="#" alt="andinhdai">
                            <div class="w-full h-full hover:bg-gray-900 hover:bg-opacity-10 hover:transition-all hover:ease-in-out hover:duration-500 
                                    relative group">
                                <div
                                    class="absolute add-button bg-white text-gray-900 bottom-2 w-[90%] left-1/2 -translate-x-1/2  hidden group-hover:block group-hover:animate-fadeIn  ">
                                    READ THE FULL STORY</div>
                            </div>
                        </a>
                    </div>
                    <div class="basis-4/7 w-full mt-5 text-left leading-8">
                        <a href="#" class="product-add text-xl hover:text-amber-600 mb-6">
                            How long does a cup of coffee keep you awake?
                        </a>
                        <div class="text-slate-500 mb-6">
                            It is a paradisematic country, in which roasted parts. Vel qui et ad voluptatem.
                        </div>
                        <div class=" uppercase tracking-widest font-medium text-sm text-gray-400">OCTOBER 9, 2018</div>
                    </div>
                </div>
                <div class="add-story-blog">
                    <div
                        class="basis-3/7 w-full md:h-[230px] h-[300px] bg-[url('/assets/images/lifestyle1.jpg')] bg-cover bg-no-repeat bg-center">
                        <a href="#" alt="andinhdai">
                            <div class="w-full h-full hover:bg-gray-900 hover:bg-opacity-10 hover:transition-all hover:ease-in-out hover:duration-500 
                                    relative group">
                                <div
                                    class="absolute add-button bg-white text-gray-900 bottom-2 w-[90%] left-1/2 -translate-x-1/2  hidden group-hover:block group-hover:animate-fadeIn  ">
                                    READ THE FULL STORY</div>
                            </div>
                        </a>
                    </div>
                    <div class="basis-4/7 w-full mt-5 text-left leading-8">
                        <a href="#" class="product-add text-xl hover:text-amber-600 mb-6">
                            Health Check: why do I get a headache when I haven’t had my coffee?
                        </a>
                        <div class="text-slate-500 mb-6">
                            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                        </div>
                        <div class=" uppercase tracking-widest font-medium text-sm text-gray-400">OCTOBER 9, 2018</div>
                    </div>
                </div>
                <div class="add-story-blog">
                    <div
                        class="basis-3/7 w-full md:h-[230px] h-[300px] bg-[url('/assets/images/story-blog5.jpg')] bg-cover bg-no-repeat bg-center">
                        <a href="#" alt="andinhdai">
                            <div class="w-full h-full hover:bg-gray-900 hover:bg-opacity-10 hover:transition-all hover:ease-in-out hover:duration-500 
                                    relative group">
                                <div
                                    class="absolute add-button bg-white text-gray-900 bottom-2 w-[90%] left-1/2 -translate-x-1/2  hidden group-hover:block group-hover:animate-fadeIn  ">
                                    READ THE FULL STORY</div>
                            </div>
                        </a>
                    </div>
                    <div class="basis-4/7 w-full mt-5 text-left leading-8">
                        <a href="#" class="product-add text-xl hover:text-amber-600 mb-6">
                            Will drinking coffee prolong your life?
                        </a>
                        <div class="text-slate-500 mb-6">
                            Aliquid aperiam accusantium quam ipsam. Velit rerum veniam optio illo dolor delectus et
                            recusandae. Impedit aut cupiditate. Illum eveniet officiis ullam ipsam sed iste eius. Nam at
                            quae ducimus dicta delectus
                        </div>
                        <div class=" uppercase tracking-widest font-medium text-sm text-gray-400">OCTOBER 9, 2018</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="basis-3/7">
            <div class="mb-10 text-2xl text-left">About Us</div>
            <hr class="mb-10">
            <div class=" flex flex-col justify-center gap-4 mb-10">
                <div class="text-left">
                    <div class="font-bold text-xl mb-4 text-gray-800">Coffee Style</div>
                    <div class="mb-8 text-[16px] leading-2 text-gray-500">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Suspendisse varius enim
                        in eros elementum tristique.</div>
                    <a href="#" class="underline underline-offset-8 text-amber-500 hover:text-orange-600">Read the full
                        Story</a>
                </div>
            </div>
            <div class=" flex flex-col justify-center text-left gap-4 mb-10">
                <div class="font-medium text-2xl mb-4 text-gray-800">Categories</div>
                <hr class="mb-10">
                <div class="add-div-menu-blog"><a href="#" class=" ">Mugs</a></div>
                <div class="add-div-menu-blog"><a href="#" class="">Barista</a></div>
                <div class="add-div-menu-blog"><a href="#" class="">Lifestyle</a></div>
                <div class="add-div-menu-blog"><a href="#" class="">Coffee</a></div>
            </div>
            <div class=" flex flex-col justify-center gap-4 mb-4">
                <div class="font-medium text-2xl mb-4 text-gray-800 text-left">Authors</div>
                <hr class="mb-10">
                <div class="add-div-menu-blog">
                    <a href="#" class="flex items-center gap-4">
                        <div class="bg-[url('/assets/images/author-blog1.jpg')] bg-cover bg-no-repeat bg-center h-[60px] w-[60px]"></div>
                        <div class="">Fred Gleason</div>
                    </a>
                </div>
                <div class="add-div-menu-blog">
                    <a href="#" class="flex items-center gap-4">
                        <div class="bg-[url('/assets/images/author-blog2.jpg')] bg-cover bg-no-repeat bg-center h-[60px] w-[60px]"></div>
                        <div class="">Isabel Hamill</div>
                    </a>
                </div>
                <div class="add-div-menu-blog">
                    <a href="#" class="flex items-center gap-4">
                        <div class="bg-[url('/assets/images/author-blog3.jpg')] bg-cover bg-no-repeat bg-center h-[60px] w-[60px]"></div>
                        <div class="">Maurice Herman</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-[95%] lg:w-[65%] mx-auto mb-24 border-l-2 border-b-2 border-red-200">
    <div class="mx-auto my-7 p-9 text-xl text-center">"I wake up some mornings and sit and have my coffee and look out at my beautiful garden, and I go, ’Remember how good this is. Because you can lose it."</div>
</div>

<div class="add-subheadline ">
   
    <div class="add-subheadline-label ">JASON JOHNSON - OWNER OF COFFEESTYLE</div>
    
</div>